@page "/Accounting/AccountTypes"
@model AssetManager.Pages.AccountTypeListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="table-responsive">
    <ul class="nav nav-pills py-2">
        <li class="nav-item">
            <a class="btn btn-primary" asp-page="Form">New</a>
        </li>
    </ul>
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">Name</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var account in Model.AccountTypes)
        {
            <tr>
                <td class="table-light">@account.Name</td>
                <td class="table-light">@account.Type.Label</td>
            </tr>
        }
        </tbody>
    </table>
</div>